body {
  background-image: url(coffee-apple.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh; /* Make sure the body takes the full height of the viewport */
  margin: 0; /* Remove default margins */
}
